* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --FS-S: 1.2rem;
    --FS-M: 2rem;
    --FS-L: 4rem;
    
    --BG-COLOR: ;
    --CONTAINER-BG-COLOR: ;


    --CONTAINER-WIDTH: 900px;
    --CONTAINER-HEIGHT: 700px;
    --CONTAINER-BD-RADIUS: 6rem;

    --BD-RADIUS-CIRCLE: 50%;

}


html {
    scroll-behavior: smooth;
    background-color: #03001C;
    color: snow;
}


img {
    display: block;
}


header, footer {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: sticky; */
}

header {
    top: 0;
    /* margin-bottom: 10rem; */
}

footer {
    bottom: 0;
}

header h1, header nav {
    width: 100%;
    text-align: center;
}

header h1 {
    font: bold var(--FS-L) monospace, sans-serif;
    padding: 1rem;
}

nav {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

}

nav a {
    text-decoration: none;
    color: #b6eada85;
    font: var(--FS-M) monospace, sans-serif;
    padding: 0.5rem;
}

nav a:focus, nav a:hover {
    color: #b6eada;
    /* font-size: 3rem; */
    padding: 1rem;
    text-decoration: underline;
}

main {
    background-color: #301E67;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

.container {
    scroll-margin-top: 2rem;

    /* height: calc(100vh - 9rem); */
    background-color: #301E67;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    /* margin: 2rem 0; */

}

.joe { 
    margin-top: 5rem;
}

figure {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.inner-container {
    /* margin-top: 3rem; */
    width: 600px;
    height: 600px;
    background-color: #5B8FB9;
    
    border-radius: var(--CONTAINER-BD-RADIUS);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inner-container img {
    width: 400px;
    height: 400px;
    border: 1rem double #301E67;
    margin-top: 1rem;
    border-radius: var(--BD-RADIUS-CIRCLE)
}


.inner-container figcaption {
    font: 3rem helvetica,sans-serif;
}

.inner-container p {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.joe .inner-container {
    background-color: rgba(187, 0, 255, 0.435);

}

.jane .inner-container {
    background-color: rgba(187, 0, 255, 0.128);
    margin-bottom: 4rem;

}

.matt .inner-container {
    background-color: rgba(187, 0, 255, 0.261);

}

footer {
    font: bold 1.2rem monospace, sans-serif;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

    header h1 {
        font-size: 3em;
        padding: 0.5rem;
    }

    nav a {
        font-size: 1.5rem;;
    }

    .inner-container {
        width: 300px;
        height: 350px;
        border-radius: 16px;
    }

    .nowrap {
        white-space: nowrap;
    }

    .inner-container img {
        width: 250px;
        height: 250px;
        margin-top: 2rem;
    }

    .inner-container figcaption {
        font-size: 1.5rem;
    }

    .inner-container p {
        font-size: 1.3rem;
        margin: 0.5rem 0;
    }

    .jane .inner-container {
        margin-bottom: 2rem;
    }


    
}


@media screen and (min-width: 400px) {

    .inner-container {
        width: 350px;
        height: 350px;
        /* background-color: yellow; */
        border-radius: 20px;
    }

    .inner-container img {
        width: 230px;
        height: 230px;
    }

    .container {
    }

    .inner-container figcaption {
        font-size: 1.5rem;
    }

    .inner-container p {
        font-size: 1.3rem;
        margin: 0.5rem 0;
    }
}